@model Recipe
@{
    ViewData["Title"] = "Busqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-12 offset-lg-2 col-md-12 no-pd">
                        <div class="main-ws-sec">
                            <div class="posts-section">
                                @await Html.PartialAsync("_RecipeCard", Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>